<div class="container home-container tutorial-container">
  <div class="home-content tutorial-content">
      <div class="home-news tutorial-left">
        <h4>HƯỚNG DẪN</h4>
        <ul class="list">
            <li ><a href="/tutorial/borrow" >Đăng kí mượn sách</a></li>
            <li><a href="/tutorial/extend">Gia hạn mượn sách</a></li>
            <li><a href="/tutorial/create-card">Thủ tục làm thẻ</a></li>
            <li><a href="/tutorial/regulation">Nội quy</a></li>
            <li><a href="/tutorial/schedule">Lịch phục vụ</a></li>
            <li><a href="/tutorial/map" class="active">Bản đồ</a></li>
        </ul>
      </div>
      <div class="home-activity tutorial-right">
        <h4>{{title}}</h4>
      </div>
  </div>
</div>