h1, h2, h3, h4, h5 {
    color: #ee850d;
    margin-bottom: 0;
 }
 .nav-item{
     display: flex;
     align-items: center;
 }
 a{
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }
 a:hover{

     color: rgb(71, 71, 71);
 }
 ul, li{
     list-style: none;
     margin-left: 0;
     padding-left: 0;
 }

 //Swiper
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}