.container-detail{
    margin-top: 36px;
    padding: 6px;
    box-shadow: 0 0 5px #0000002e;
    .content{
        .content-top{
            .image{
                height: 440px;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .title{
                border: solid 1px #DDDDDD;
                position: relative;
                .name{
                    color: #00a9da;
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-top: 12px;
                }
                .list{
                    margin-top: 8px;
                    .item{
                        padding: 6px 0;
                        margin: 4px;
                        span{
                            font-weight: bold;
                        }
                        .item-infor{
                            margin-left: 12px;
                            &:hover{
                                color: #00a9da;
                            }
                        }
                    }
                }
                .btn-group1{
                    position: absolute;
                    bottom: 12px;
                    button{
                        margin-right: 12px;
                    }
                }
            }
        }
        .content-bottom{

        }
    }
}