.tutorial-container{
    padding-top: 60px;
    .tutorial-content{
        .tutorial-left{
            background-color: rgb(209, 207, 207);
            .list{
                padding: 0 8px;
                li{
                    border-bottom: 1px solid #198754 ;
                    padding:  12px 0;
                    &:last-child{
                        border: none;
                    }
                    .active{
                        color: red;
                    }
                }
            }
        }
        .tutorial-right{

        }
    }
}