<form method="POST" action="" class="container">
    <h1 class="mt-3 mb-3">Tạo thông báo</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tiêu đề</label>
        <input name="title" class="form-control" id="exampleFormControlInput1" placeholder="Tiêu đề..." required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ảnh</label>
        <input name="url" class="form-control" id="exampleFormControlInput1" placeholder="http://..">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Lưu lại</button>
    </div>
</form>