<div class="container container-detail">
    <div class="row">
        <div class="col-9 content">
            <div class="row content-top">
                <div class="col-4 image">
                    <img src="https://www.dtv-ebook.com/images/files_2/2021/082021/bi-quyet-hoc-nhanh-nho-lau.jpg" alt="">
                </div>
                <div class="col-8 title">
                    <h4 class="name text-center">
                        {{book.name}}
                    </h4>
                    <ul class="list">
                        <li class="item">
                            <span>Tác giả: </span>
                            <a href="#" class="item-infor">{{book.author}}</a>
                        </li>
                        <li class="item">
                            <span>Thể loại: </span>
                            <a href="#" class="item-infor">{{book.type}}</a>
                        </li>
                        <li class="item">
                            <span>Lượt mượn: </span>
                            <a href="#" class="item-infor">1202</a>
                        </li>
                        <li class="item">
                            <span>Số lượng: </span>
                            <a href="#" class="item-infor">1202</a>
                        </li>
                        <li class="item">
                            <span>Vị trí: </span>
                            <a href="#" class="item-infor">Lầu 1</a>
                        </li>
                        <li class="item">
                            <span>Nhà xuất bản: </span>
                            <a href="#" class="item-infor">
                                Đại học Bách Khoa Hà Nội
                            </a>
                        </li>
                        <li class="item">
                            <span>Ngôn ngữ: </span>
                            <a href="#" class="item-infor">Tiếng Việt</a>
                        </li>
                    </ul>
                    <div class="btn-group1">
                        <button class="btn btn-danger">Thêm vào danh sách yêu thích</button>
                        <button class="btn btn-success">Mượn</button>
                    </div>
                </div>
            </div>
            <div class="row content-bottom">

            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>