@charset "UTF-8";
h1, h2, h3, h4, h5 {
  color: #ee850d;
  margin-bottom: 0; }

.nav-item {
  display: flex;
  align-items: center; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #474747; }

ul, li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-wrapper {
  width: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 120px; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #737373; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #737373; }

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

#button-to-top::after {
  content: '\f077';
  /* Biểu tượng mũi tên đi lên */
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 40px;
  margin-left: 7px;
  color: #fff; }

#button-to-top:hover {
  cursor: pointer;
  background-color: #333; }

#button-to-top:active {
  background-color: #555; }

#button-to-top.show {
  opacity: 1;
  visibility: visible; }

@media (min-width: 500px) {
  .main-content {
    width: 43%; }
  #button-to-top {
    margin: 30px; } }

.home-container {
  padding: 0 12px 60px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.41); }
  .home-container .home-slider {
    padding-top: 24px;
    margin-bottom: 24px; }
    .home-container .home-slider .carousel-item {
      width: 100%;
      height: 320px; }
      .home-container .home-slider .carousel-item img {
        display: block;
        width: 100%;
        height: 100%; }
  .home-container .home-content {
    display: flex; }
    .home-container .home-content .home-news {
      flex: 1;
      background-color: aqua;
      margin-right: 12px;
      height: 100%; }
      .home-container .home-content .home-news h4 {
        font-size: 1rem;
        font-weight: bold;
        background-color: #212529;
        color: #fff;
        padding: 12px; }
    .home-container .home-content .home-activity {
      width: 960px; }
      .home-container .home-content .home-activity h4 {
        font-size: 1rem;
        font-weight: bold;
        background-color: #212529;
        color: #fff;
        padding: 12px; }
      .home-container .home-content .home-activity .list .item {
        border-bottom: 1px dotted #198754;
        border-left: 1px dotted #198754;
        border-right: 1px dotted #198754;
        position: relative; }
        .home-container .home-content .home-activity .list .item .item-title {
          padding: 6px 12px;
          display: block;
          background-color: #bbbbbb;
          margin-bottom: 16px;
          border-bottom: 1px dotted #198754; }
        .home-container .home-content .home-activity .list .item .mySwiper {
          margin-bottom: 56px; }
          .home-container .home-content .home-activity .list .item .mySwiper img {
            height: 200px; }
        .home-container .home-content .home-activity .list .item a {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 10;
          padding: 0 12px 6px;
          color: blue; }
          .home-container .home-content .home-activity .list .item a:hover {
            text-decoration: underline blue; }

.tutorial-container {
  padding-top: 60px; }
  .tutorial-container .tutorial-content .tutorial-left {
    background-color: #d1cfcf;
    position: relative; }
    .tutorial-container .tutorial-content .tutorial-left .list {
      padding: 0 8px; }
      .tutorial-container .tutorial-content .tutorial-left .list li {
        border-bottom: 1px dotted #198754;
        padding: 12px 0; }
        .tutorial-container .tutorial-content .tutorial-left .list li:last-child {
          border: none; }
        .tutorial-container .tutorial-content .tutorial-left .list li .active {
          color: red; }
  .tutorial-container .tutorial-content .tutorial-right .list-tutorial .item-tutorial {
    border-bottom: 1px dotted #198754;
    border-left: 1px dotted #198754;
    border-right: 1px dotted #198754; }
    .tutorial-container .tutorial-content .tutorial-right .list-tutorial .item-tutorial h3 {
      background-color: #212529;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      width: 100%;
      display: block;
      padding: 10px;
      text-transform: uppercase; }
    .tutorial-container .tutorial-content .tutorial-right .list-tutorial .item-tutorial p {
      padding: 12px; }
  .tutorial-container .tutorial-content .tutorial-right .list-tutorial .news-list {
    margin: 12px;
    border-bottom: 1px dotted #198754;
    padding-bottom: 12px;
    display: flex;
    align-self: start; }
    .tutorial-container .tutorial-content .tutorial-right .list-tutorial .news-list:last-child {
      border: none; }
    .tutorial-container .tutorial-content .tutorial-right .list-tutorial .news-list a {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 12px; }

.container-detail {
  margin-top: 36px;
  padding: 6px;
  box-shadow: 0 0 5px #0000002e; }
  .container-detail .content .image img {
    width: 100%; }
  .container-detail .content .title {
    border: solid 1px #DDDDDD; }
    .container-detail .content .title .name {
      color: #00a9da;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 12px; }
    .container-detail .content .title .list {
      margin-top: 8px; }
      .container-detail .content .title .list .item {
        padding: 6px 0;
        margin: 4px; }
        .container-detail .content .title .list .item span {
          font-weight: bold; }
        .container-detail .content .title .list .item .item-infor:hover {
          color: #00a9da; }
    .container-detail .content .title .btn-group1 {
      margin-top: 24px; }
      .container-detail .content .title .btn-group1 button {
        margin-right: 12px; }

.header-navbars {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.nav-item__icon .nav-link {
  display: flex;
  align-items: center;
  color: #fff; }

.nav-item__icon .nav-item__icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .nav-item__icon .nav-item__icon-user i {
    padding: 6px 8px; }

.container-login {
  height: 100vh;
  background: linear-gradient(to right, #0a346d, #1598ef);
  display: flex;
  align-items: center; }
  .container-login .card-signin {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 16px; }
    .container-login .card-signin .card-title {
      padding: 24px 0;
      font-weight: 300;
      font-size: 40px;
      font-weight: 600; }
    .container-login .card-signin form .btn-group {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .container-login .card-signin form .btn-group button {
        width: 100%;
        margin-bottom: 8px; }
      .container-login .card-signin form .btn-group a {
        width: 100%;
        background-color: #1598ef; }

.privacy-image {
  border: solid 1px #1598ef;
  border-radius: 40%;
  margin-top: 36px; }

.container-navbar {
  display: flex;
  justify-content: flex-end; }
  .container-navbar ul {
    margin-right: 32px !important; }
    .container-navbar ul li {
      margin-right: 12px; }

.container-register {
  border: 1px solid #cfcfcf;
  width: 40%;
  padding: 60px 30px 20px; }
  .container-register .group-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between; }

.btn-group-category {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 75%; }
  .btn-group-category .btn {
    min-width: 160px; }

#button-to-top {
  border-radius: 3px;
  color: #fff !important;
  line-height: 20px;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(180deg, #90a4ae, #78909c);
  width: 40px;
  /* Chiều rộng button */
  height: 40px;
  /* Chiều cao button */
  position: fixed;
  /* Cố định vị trí */
  right: 10px;
  /* Button cách mép màn hình bên phải */
  bottom: 100px;
  /* Button cách mép màn hình bên dưới */
  z-index: 1000001;
  cursor: pointer;
  opacity: 0; }
