<div class="container">
    <h1 class="mt-3">Chi tiết nhà xuất bản</h1>
    <form action="" class="mt-3">
        <div class="mb-3">
            <label for="publisherInput" class="form-label">Mã nhà xuất bản</label>
            <input name="publisherID" class="form-control" id="publisherInput" placeholder="Gợi ý: {{newID}}" value="{{publisher.publisherID}}">
        </div>
        <div class="mb-3">
            <label for="pubName" class="form-label">Tên nhà xuất bản</label>
            <input name="name" class="form-control" id="pubName" value="{{publisher.name}}">
        </div>
        <div class="mb-3">
            <label for="pubAddress" class="form-label">Địa chỉ</label>
            <input name="address" class="form-control" id="pubAddress" value="{{publisher.address}}">
        </div>
        <button class="btn btn-primary">Lưu lại</button>
    </form>
</div>