<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Giới thiệu</h6>
            <p class="text-justify">
              Bài tập lớn cuối kì môn cơ sở dữ liệu. Là một ứng dụng web mô tả các chức năng cơ bản 
              của phần mềm quản lí thư viện. Sử dụng nền tảng Nodejs với framework Expressjs để tạo server,
              template engine handlebars tạo giao diện. Cùng với đó là các thư viện hỗ trợ: bootstrap 5, swiper, Jquery,...
              Phần giao diện có sự tham khảo trên các website <a href="https://thuvienhanoi.org.vn"><i>Thư viện Hà Nội</i></a>,
              <a href="https://thuvienhuequang.vn/"><i>Thư viện Huệ Quang</i></a>.
              Dữ liệu được lấy trên <a href="https://tiki.vn/nha-sach-tiki/">TIKI-Sách!</a>  
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Ngôn ngữ sử dụng</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">JavaScript</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">HTML/CSS/SCSS</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Handlebars</a></li>
            </ul>
            
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="https://github.com/ongimkshp/quan_li_thu_vien_DB">Github</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container pb-5">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Thực hiện bởi Nhóm 9
            </p>
          </div>
        </div>
      </div>
</footer>