<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="header-navbars container ">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container-navbar" id="navbarSupportedContent">
      {{#if this.user}}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" href="#">Tin tức</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" 
          type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
          aria-expanded="false">
            Tra cứu
          </a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/search/category">Thể loại</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/search/daicuong">Đại cương</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/search/chuyennganh">Chuyên ngành</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/search/author">Tác giả</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/search/year">Năm xuất bản</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quản lí sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Quản lí người dùng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mượn sách</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" 
          type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
          aria-expanded="false">
            Hướng dẫn
          </a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Đăng kí mượn sách Online</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Gia hạn mượn sách</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Thủ tục làm thẻ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Nội quy</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Lịch phục vụ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Bản đồ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-item__icon">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{this.user.firstName}}
            <div class="nav-item__icon-user">
              <i class="fas fa-user"></i>
            </div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/privacy">Thông tin cá nhân</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Thông báo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sách đang mượn</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sách yêu thích</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Lịch sử mượn sách</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/auth/logout">Log Out/Log In</a></li>
          </ul>
        </li> 
      </ul>
      {{else}}
       <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link" href="#">Tin tức</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" 
          type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
          aria-expanded="false">
            Hướng dẫn
          </a>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Đăng kí mượn sách Online</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Gia hạn mượn sách</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Thủ tục làm thẻ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Nội quy</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Lịch phục vụ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Bản đồ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-item__icon">
          <a class="nav-link" href="/auth/login" >
            Login
            <div class="nav-item__icon-user">
              <i class="fas fa-user"></i>
            </div>
          </a>
        </li>
       </ul>
      {{/if}}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>