<form method="POST" action="/user/create">
    <input name="id" placeholder="Enter your ID ...."/>
    <input name="name" placeholder="Enter name subject ...."/>
    <input name="credit" placeholder="Enter credit...."/>
    <input name="percentExam" placeholder="Eg: 50(%) ...."/>
    <button type="submit">Submit</button>
</form>

<script>
</script>