<div class="container home-container tutorial-container">
  <div class="home-content tutorial-content">
      <div class="home-news tutorial-left">
        <h4>HƯỚNG DẪN</h4>
        <ul class="list">
            <li ><a href="#borrow" >Đăng kí mượn sách</a></li>
            <li><a href="#extend">Gia hạn mượn sách</a></li>
            <li><a href="#create-card">Thủ tục làm thẻ</a></li>
            <li><a href="#regulation">Nội quy</a></li>
            <li><a href="#schedule">Lịch phục vụ</a></li>
            <li><a href="#map">Bản đồ</a></li>
        </ul>
      </div>
      <div class="home-activity tutorial-right">
        <ul class="list-tutorial">
          <li class="item-tutorial" id="borrow">
            <h3 class="item-title-tutorial">Đăng kí mượn sách</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
          <li class="item-tutorial" id="extend">
            <h3 class="item-title-tutorial">Gia hạn mượn</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
          <li class="item-tutorial" id="create-card">
            <h3 class="item-title-tutorial">Thủ tục làm thẻ</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
          <li class="item-tutorial" id="regulation">
            <h3 class="item-title-tutorial">Nội quy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
          <li class="item-tutorial" id="schedule">
            <h3 class="item-title-tutorial">Lịch phục vụ</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
          <li class="item-tutorial" id="map">
            <h3 class="item-title-tutorial">Bản đồ</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dicta et similique at. Similique fuga excepturi porro temporibus est inventore fugit corrupti modi, eius, amet ratione neque iusto ut harum.</p>
          </li>
        </ul>
      </div>
  </div>
</div>